[Desktop Entry]
Name=WoWs Toolkit
Comment=World of Warships replay analysis and game file browser
Exec=wows_toolkit
Icon=io.github.landaire.WoWsToolkit
Terminal=false
Type=Application
Categories=Game;Utility;
