on:
  release:
    types: [created]

jobs:
  release:
    name: Build and upload release
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.92.0
          targets: x86_64-pc-windows-msvc

      - name: Build release binary
        run: cargo build --release --target x86_64-pc-windows-msvc

      - name: Create zip archive
        run: |
          Compress-Archive -Path "target/x86_64-pc-windows-msvc/release/wows_toolkit.exe","README.md" -DestinationPath "wows_toolkit_${{ github.event.release.tag_name }}_windows.zip"

      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        with:
          files: wows_toolkit_${{ github.event.release.tag_name }}_windows.zip
